
.sidebar{
  flex: 1;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
}

.message{
  margin-bottom: 15px;

}

.sent{
  display: flex;
  justify-content: flex-end;

}


.receive{
  display: flex;
  justify-content: flex-start;
  
}

.message-bubble{
  
}